<article class="page px3 mx-auto centered-content max-width-4" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="text-center">
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
  </header>
  <% if (page.search) { %>
    <%- partial('_partial/search') %>
  <% } %>
  <div class="page-content" itemprop="articleBody">
    <div class="content">
      <%- page.content %>
    </div>
    
    <hr />
    
    <%- partial('_partial/ajax-gallery', { album: page.albumID, limit: page.limit || 0, service: 'lychee', service_url: theme.lychee_url }) %>
  </div>
</article>
