$base-style
  h1, .h1
    display: block
    margin-top: 3rem
    margin-bottom: 1rem
    color: $color-accent-1
    font-style: normal
    font-size: 3.3rem

    antialias()

    
  @media (min-width: 900px)
    h1, .h1
      font-size: 6vw
        

  h2, .h2
    position: relative
    display: block
    margin-top: 4rem
    margin-bottom: 1rem
    color: $color-accent-2
    text-transform: none
    letter-spacing: normal
    font-size: 2.2rem
    &:before
      content: '#'
      color: $color-accent-1
      display: inline-block
      position: absolute
      left: -2.5rem

  @media (max-width: 700px)
    h2, .h2
      margin-left: 1em

  h3
    color: $color-accent-2
    font-size: 1.5rem

  h4, h5, h6
    display: inline
    border-bottom: 1px dashed $color-accent-3
    color: $color-accent-3
    text-decoration: none
    font-size: 1rem

  h3, h4, h5, h6
    margin-top: 3rem
    margin-bottom: 1rem

  hr
    border: 1px dashed $color-accent-3

  strong
    font-weight: bold

  em, cite
    font-style: italic

  sup, sub
    position: relative
    vertical-align: baseline
    font-size: .75em
    line-height: 0

  sup
    top: -.5em

  sub
    bottom: -.2em

  small
    font-size: .85em

  acronym, abbr
    border-bottom: 1px dotted

  ul, ol, dl
    line-height: $line-height

  ul, ol
    ul, ol
      margin-top: 0
      margin-bottom: 0

  ol
    list-style: decimal

  dt
    font-weight: bold

  table
    width: 100%
    border-collapse: collapse
    text-align: left
    font-size: $font-size - 2px

  th
    padding: 8px
    border-bottom: 1px dashed $color-code-border
    color: $color-accent-2
    font-weight: bold
    font-size: $font-size - 1px

  td
    padding: 9px 8px 0
    border-bottom: none
