@font-face
  font-style: normal
  font-family: "Meslo LG"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-family: 'Hernandez Niu'
  src: url('../lib/hernandezniu/hernandezniu-heavy-webfont.woff2') format('woff2'),
       url('../lib/hernandezniu/hernandezniu-heavy-webfont.woff') format('woff');
  font-weight: 900
  font-style: normal

@font-face {
    font-family: 'Antartida';
    src: url('../lib/antartida/antartida-rounded-essential-bold-italic-webfont.woff2') format('woff2'),
         url('../lib/antartida/antartida-rounded-essential-bold-italic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;

}

@font-face {
    font-family: 'Antartida';
    src: url('../lib/antartida/antartida-rounded-essential-bold-webfont.woff2') format('woff2'),
         url('../lib/antartida/antartida-rounded-essential-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Antartida';
    src: url('../lib/antartida/antartida-rounded-essential-light-italic-webfont.woff2') format('woff2'),
         url('../lib/antartida/antartida-rounded-essential-light-italic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: 'Antartida';
    src: url('../lib/antartida/antartida-rounded-essential-light-webfont.woff2') format('woff2'),
         url('../lib/antartida/antartida-rounded-essential-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}