// Fonts
$font-family-sans-serif = 'Antartida', sans-serif
$font-family-serif = 'Hernandez Niu', 'Rockwell', serif
$font-family-body = $font-family-mono
$font-family-mono = "Menlo", "Meslo LG", monospace
$font-family-tt = "Inconsolata", monospace
$font-size = 14px
$font-size-lg = 18px
$line-height = 1.42
// Logo
$logo-width = 0px + (hexo-config("logo.width") || 0)
$logo-height = 0px + (hexo-config("logo.height") || 0)
// Colors
$colors = hexo-config("colorscheme") || "dark"
$gallery-thumb-size = 200px
$gallery-gutter = 1.5rem
$max-width-1 = 24rem
$max-width-2 = 32rem
$max-width-3 = 48rem
$max-width-4 = 64rem
$page-width = $max-width-3