#footer
  color: $color-meta
  vertical-align: top
  text-align: center
  font-size: 0.7rem
  padding: 1rem 2rem
  margin-top: 3rem
  
  > div
    margin-top: 1rem

  ul
    margin: 0
    padding: 0
    list-style: none

  li
    display: inline-block
    margin-right: 1em
    border-right: 1px solid $color-border
    vertical-align: middle

    a
      margin-right: 15px

  li:last-child
    margin-right: 0
    border-right: 0

    a
      margin-right: 0

  a
    color: $color-meta

  a:hover
    color: lighten($color-meta, 20%)

  .footer-left
    vertical-align: middle

@media (min-width: 42rem)
  #footer
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: center
    align-content: center

    .footer-left
      align-self: flex-start

    .footer-right
      align-self: flex-end
